 section {
	position:fixed; top:0; left:0; width:100%; height:100%;
	box-sizing:border-box; -moz-box-sizing:border-box;
	padding:0; margin:0;
	overflow:hidden;
}
section > header {
	position:absolute; top:0; left:0; width:100%; 
	box-sizing:border-box; -moz-box-sizing:border-box;
	height:24px; line-height:24px;
	padding:0 0.5em;
	background:#4CA7F6; color:#ffffff;
	border:1px solid #FFFFFF; border-width:1px 0;
}

section > header > h2 { display:inline-block; font-size:14px; margin:0; padding:0; } 
section > header span { font-weight:normal; font-size:80%; }
section > header > .note { position:absolute; right:0.5em; text-align:right; font-size:90% }

#playground-wrap { height:50%; padding:0; overflow:visible; border-top:24px;top:14%; }
#data,#code,#css { top:50%; width:50% }
#data,#css { height:25% }
#css  { top:75%; overflow:visible; }
#code { left:50%; height:50%; }

#data header, #css header { border-right:1px solid #76BDFC; }
#css header { margin-top:-1px; height:25px; line-height:25px }
#playground-wrap header { border-top:0 }

#playground, section > .editor { position:absolute; top:24px; bottom:0; left:0; right:0 }

.ace_print_margin { display:none ! important }

div.ace-cobalt div.ace_scroller { background:#111; }
div.ace-cobalt.ace_focus div.ace_scroller { background:#002244; }

div.ace-cobalt div.ace_marker-layer div.ace_selection {
	background: rgba(179, 151, 117, 0.4);
}
div.ace-cobalt.ace_focus div.ace_marker-layer div.ace_selection {
	background: rgba(179, 101, 57, 0.75);
}

#overview { display:none }